<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Books</h1>
<form id="frm" name="frm" method="get" th:action="@{${#httpServletRequest.requestURI}}">
    <input name="page" th:value="${param.page}" type="hidden">
    <input name="size" th:value="${param.size}" type="hidden"/>
    <th:block th:each="sort: ${param.sort}">
        <input name="sort" th:value="${sort}" type="hidden"/>
    </th:block>
    <button name="btn_add" id="btn_add">
        <a cu:href="@{/sample/book/add(id=)}">등록</a>
    </button>
    <br>
    <label>
        title:
        <input type="text" name="title" th:value="${param.title}"/>
    </label><br>
    <label>
        작가:
        <input ype="text" name="lastName" th:value="${param.lastName}" type="text"/>
    </label>
    <input id="btn_search" name="btn_search" type="button" value="검색" />
</form>
<table border="1">
    <tr>
        <th>count</th>
        <th>title</th>
        <th>author</th>
    </tr>
    <tr th:each="book, statat : ${books.content}">
        <td th:text="${statat.count}">1</td>
        <td><a cu:href="@{/sample/book/{id}(id=${book.id})}" th:text="${book.title}">title</a></td>
        <td>
            <span th:text="|${book.firstName} ${book.lastName}|">0</span>
        </td>
    </tr>
</table>
<nav th:replace="~{fragments/pagination :: pagination(${books})}">
</nav>
<script type="text/javascript" th:src="@{/js/sample/list.js}"></script>
</body>
</html>